@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #000000;
  --foreground: #f5f7ff;
  --primary: #4f5fff;
  --secondary: #3aa3ff;  
}


.color{
  color: #8833dd8e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  color: var(--foreground);
}

button{
  cursor: pointer;
}
